
<%= simple_form_for(@kid) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :grade %>
    <%= f.input :status, collection: Kid.statuses.keys, selected: @kid.status %>
    <%= f.input :notes %>
    <%= f.association :campains, value: Campain.find(params[:campain].to_i).name, selected: Campain.find(params[:campain].to_i).id %>
  </div>

  <%= hidden_field_tag :current_campain, params[:campain] %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

