<div id="<%= dom_id kid %>">
  <p>
    <strong>Name:</strong>
    <%= kid.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= kid.phone %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= kid.grade %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= kid.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= kid.notes %>
  </p>
  <p>
    <strong>Campains:</strong>
    <%= kid.campains.pluck(:name) %>
  </p>

</div>
