<div id="<%= dom_id sign_up %>">
  <p>
    <strong>Date:</strong>
    <%= call.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= call.notes %>
  </p>

  <p>
    <strong>Kid:</strong>
    <%= call.kid_id %>
  </p>

  <p>
    <strong>Campain:</strong>
    <%= call.campain_id %>
  </p>

</div>
