<div id="<%= dom_id sign_up %>">
  <p>
    <strong>Date:</strong>
    <%= sign_up.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= sign_up.notes %>
  </p>

  <p>
    <strong>Kid:</strong>
    <%= sign_up.kid_id %>
  </p>

  <p>
    <strong>Campain:</strong>
    <%= sign_up.campain_id %>
  </p>

</div>
