<div id="<%= dom_id campain %>">
  <p>
    <strong>Name:</strong>
    <%= campain.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= campain.year %>
  </p>

  <p>
    <strong>Script:</strong>
    <%= campain.script %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= campain.notes %>
  </p>

  <p>
    <strong>Ken:</strong>
    <%= campain.ken_id %>
  </p>

</div>
