<p style="color: green"><%= notice %></p>

<%= render @campain %>

<div class="kids">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="kids__header">החניכים והחניכות שגויסו</h1>
    </div>
  </div>
  <%= turbo_frame_tag "kids" do %>
    <div class="flow-root mt-8">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="kids__table--shadow ">
            <table class="kids__table table table-striped table-hover">
              <thead class="kids__thead table-light">
                <tr>
                  <%= sortable_table_header 'שם', :name, :campain_path, class: 'kids__row--header' %>
                  <%= sortable_table_header 'טלפון', :phone, :campain_path, class: 'kids__row--header' %>
                  <%= sortable_table_header 'שכבה', :grade, :campain_path, class: 'kids__row--header' %>
                  <%= sortable_table_header 'הערות', :notes, :campain_path, class: 'kids__row--header' %>
                  <%= sortable_table_header 'סטטוס', :status, :campain_path, class: 'kids__row--header' %>
                  <%= sortable_table_header 'תאריך יצירה', :created_at, :campain_path, class: 'kids__row--header' %>
                </tr>
              </thead>
              <tbody class="kids__tbody table-group-divider">
                <% @kids.each do |kid| %>
                  <tr>
                    <td class="kids__row kids__row--name">
                      <%= link_to kid.name, kid %>
                    </td>
                    <td class="kids__row kids__row--phone">
                      <%= kid.phone %>
                      <%= link_to "<i class=\"bi bi-telephone-outbound\"> להתקשר </i>".html_safe, "tel:#{kid.phone}", class: "btn btn-primary" %>
                      <%= link_to "<i class=\"bi bi-whatsapp\"> וואטסאפ </i>".html_safe, "https://wa.me/972#{kid.phone}", class: "btn btn-success" %>
                    </td>
                    <td class="kids__row kids__row--grade">
                      <%= kid.grade %>
                    </td>
                    <td class="kids__row kids__row--notes">
                      <%= kid.notes %>
                    </td>
                    <td class="kids__row kids__row--status">
                      <%= heb_status[kid.status.to_sym]  %>
                    </td>
                    <td class="kids__row kids__row--created-at">
                      <%= kid.created_at. strftime('%d/%m/%Y') %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @kids %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "רישום חניכים חדשים", new_kid_path(campain: @campain), class: "btn btn-primary m-4" %> |
  <%= link_to "עריכת הגיוס", edit_campain_path(@campain) %> |

  <%= button_to "מחיקת הגיוס", @campain, method: :delete %>
</div>
