<p style="color: green"><%= notice %></p>

<%= render @ken %>

<div>
  <%= link_to "Edit this ken", edit_ken_path(@ken) %> |
  <%= link_to "Back to kens", kens_path %>

  <%= button_to "Destroy this ken", @ken, method: :delete %>
</div>
